$lightGreen : #b9e7e7;

.app {
    display: flex;
    justify-content: center;

    .container {
        width: 64rem;

        .link {
            text-decoration: none;
            color: inherit;
        }


        // Login & Register
        .auth {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;

            h1 {
                font-size: 1.25rem;
                color: teal;
                margin-bottom: 1.25em;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 3.125em;
                background-color: white;
                width: 12.5rem;
                gap: 1.25em;

                input {
                    padding: 0.625em;
                    border: none;
                    border-bottom: 0.0625em solid gray;
                }

                button {
                    padding: 0.625em;
                    border: none;
                    background-color: teal;
                    color: white;
                    cursor: pointer;
                }

                p {
                    font-size: 0.75rem;
                    color: red;
                    text-align: center;
                }

                span {
                    font-size: 0.75rem;
                    text-align: center;
                }
            }
        }


        // Navbar
        .navbar {
            .container {
                padding: 0.625em 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    img {
                        width: 7.5rem;
                    }
                }

                .links {
                    display: flex;
                    align-items: center;
                    gap: 0.625em;

                    h6 {
                        font-size: 1rem;
                        font-weight: 300;
                    }

                    span {
                        cursor: pointer;
                    }

                    .write {
                        background-color: $lightGreen;
                        width: 3.125rem;
                        height: 3.125rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 0.0625em solid white;

                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 0.0625em solid teal;
                        }
                    }
                }
            }
        }


        // Footer
        footer {
            margin-top: 6.25em;
            padding: 2em 1.5em;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.75rem;

            img {
                width: 4.5rem;
            }
        }

    }
}
